<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>That's for dinner</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% include "navbar.html" %}
    <br><br>


    <div class="container">
      {% for g in range(0, topics|count, 7) %}
      <div class="row">
        
      {% for topic in topics[g:g+6] %}
      
      <div class="col-md-2 center-block">
             <div class="thumbnail">
               <a href="#modal{{topic}}" data-toggle="modal" data-target="#modal{{topic}}"><img src="{{doc_data[topic][0]['image']}}"
               alt="..."> </a>
               <div class="caption">
                 <h5 class="text-center">{{word_data[topic]}}</h5>
               </div>
               
               <!-- Modal -->
               <div id="modal{{topic}}" class="modal fade" role="dialog">
                 <div class="modal-dialog modal-lg">
                   <!-- Modal content-->
                   <div class="modal-content">
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">{{word_data[topic]}}</h4>
                     </div>
                     <div class="modal-body">

                       <div class="container">
                         {% for i in range(0, doc_data[topic]|count, 2) %}
                         <div class="row">
                           {% for j in doc_data[topic][i:i+2] %}
                           <div class="col-md-5 center-block">
                             <div class="thumbnail">
                             <a href="{{j['url']}}"><img src="{{j['image']}}"
                                                       alt="..."> </a>
                             <div class="caption">
                               <h5 class="word-center">{{j['title']}}</h5
                               <p>{{j['ingredient']}}</p>
                             </div>
                             </div>
                           </div>
                           {% endfor %}
                         </div>
                         {% endfor %}
                       </div>
                     </div>
                     <div class="modal-footer">
                       <a href="/all?topic={{topic}}" class="btn btn-info btn-sm" role="button">See all</a>
                       <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                     </div>
                   </div>
                 </div>
               </div>
               
           </div>
         </div>
         {% endfor %}
      </div>
      {% endfor %}

               </div>


<!-- this is the dropdown version. -->
<!--     <div class="container"> -->

<!--          <div class="row"> -->
<!--            {% for topic in topics %} -->
<!--            <div class="col-sm-6 col-md-4"> -->
<!--              <div class="thumbnail"> -->

<!--          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> -->
<!--            <div class="panel panel-success"> -->
<!--              <div class="panel-heading" role="tab" id="heading{{topic}}"> -->
<!--                <h4 class="panel-title"> -->
<!--                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{topic}}" aria-expanded="false" aria-controls="collapse{{topic}}"> -->
<!--                    {{word_data[topic]}} -->
<!--                  </a> -->
<!--                </h4> -->
<!--              </div> -->
<!--              <div id="collapse{{topic}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{topic}}"> -->
<!--                <div class="panel-body"> -->
<!--                  <ul class="media-list"> -->
<!--                    <li class="media"> -->
<!--                      {% for doc in doc_data[topic] %} -->
<!--                      <div class="media-left"> -->
<!--                        <a href="#"> -->
<!--                          <img class="media-object" src="{{doc['image']}}" alt="..."> -->
<!--                        </a> -->
<!--                      </div> -->
<!--                      <div class="media-body"> -->
<!--                        <h4 class="media-heading">{{doc['title']}}</h4> -->
<!--                        <p> -->
<!--                          {{doc['ingredient']}} -->
<!--                        </p> -->

<!--           <a href="{{doc.url}}" class="btn btn-default">Visit recipe</a> -->

<!--                      </div> -->
<!--                    </li> -->
<!--                    {% endfor %} -->
<!--                  </ul>  -->
<!--              </div> -->
<!--            </div> -->
<!--          </div> -->
 





<!--              </div> -->
<!--            </div> -->
<!--          </div> -->
<!--          {% endfor %} -->
<!-- </div> -->


<!-- This is the old version. -->
<!--     <div class="container"> -->
<!--               {% for topic in topics %} -->
<!--          <div class="row" -->
<!--          <div class="col-md-4"> -->
<!--          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> -->
<!--            <div class="panel panel-success"> -->
<!--              <div class="panel-heading" role="tab" id="heading{{topic}}"> -->
<!--                <h4 class="panel-title"> -->
<!--                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{topic}}" aria-expanded="false" aria-controls="collapse{{topic}}"> -->
<!--                    {{word_data[topic]}} -->
<!--                  </a> -->
<!--                </h4> -->
<!--              </div> -->
<!--              <div id="collapse{{topic}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{topic}}"> -->
<!--                <div class="panel-body"> -->
<!--                  <ul class="media-list"> -->
<!--                    <li class="media"> -->
<!--                      {% for doc in doc_data[topic] %} -->
<!--                      <div class="media-left"> -->
<!--                        <a href="#"> -->
<!--                          <img class="media-object" src="{{doc['image']}}" alt="..."> -->
<!--                        </a> -->
<!--                      </div> -->
<!--                      <div class="media-body"> -->
<!--                        <h4 class="media-heading">{{doc['title']}}</h4> -->
<!--                        <p> -->
<!--                          {{doc['ingredient']}} -->
<!--                        </p> -->

<!--           <a href="{{doc.url}}" class="btn btn-default">Visit recipe</a> -->

<!--                      </div> -->
<!--                    </li> -->
<!--                    {% endfor %} -->
<!--                  </ul>  -->
<!--              </div> -->
<!--            </div> -->
<!--          </div> -->
<!--          {% endfor %} -->
<!--          </div> -->
<!--          </div> -->
<!--          </div> -->
<!-- </div> -->



  <!--   <div class="container"> -->
  <!--   <div class="container-fluid"> -->
  <!-- <div class="row" > -->
  <!-- {% for topic in topics %} -->
  <!-- <div class="col-md-8 col-md-offset-2"> -->

  <!--   <div class="panel-group" id="accordion{{topic}}" role="tablist" aria-multiselectable="true"> -->
  <!--     <div class="panel panel-success"> -->
  <!--       <div class="panel-heading" role="tab" id="heading{{topic}}"> -->
  <!--         <h3 class="panel-title"> -->
  <!--           <a role="button" data-toggle="collapse" -->
  <!--                                     data-parent="#accordion{{topic}}" href="#collapse{{topic}}" -->
  <!--                                     aria-expanded="false" aria-controls="collapse{{topic}}"> -->
  <!--             {{word_data[topic]}} -->
  <!--           </a> -->
  <!--         </h3> -->
  <!--         </div> -->
  <!--       <ul class="media-list"> -->
  <!--         <li class="media"> -->
  <!--           {% for doc in doc_data[topic] %} -->
  <!--           <div class="media-left"> -->
  <!--             <a href="#"> -->
  <!--               <img class="media-object" src="{{doc['image']}}" alt="..."> -->
  <!--             </a> -->
  <!--           </div> -->
  <!--           <div class="media-body"> -->
  <!--             <h4 class="media-heading">{{doc['title']}}</h4> -->
  <!--           </div> -->
  <!--         </li> -->
  <!--         {% endfor %} -->
  <!--       </ul>  -->
  <!--   </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!--     {% endfor %} -->
  <!-- </div> -->
  <!-- </div> -->
  <!--   </div> -->

      

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- <script src="static/js/jquery.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="static/js/ie10-viewport-bug-workaround.js"></script> -->
  

</body></html>
